<%- include("partials/header") -%>
    <h2>All students</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">First name</th>
            <th scope="col">Attendent?</th>
          </tr>
        </thead>
        <tbody>
            <% allStudent.forEach(element => { %>
                <tr>
                    <th scope="row"> <%= element.studentID %> </th>
                    <td> <%= element.lastName %> </td>
                    <td><%= element.firstName %> </td>
                    <td> <%= element.status ? "Present" : "Absent" %> </td>
                </tr>
            <% }) %>
        </tbody>
      </table>

      <h2>Take attendant</h2>
      <form action="/take_attendant" method="post">
        <button type="submit">Take picture</button>
      </form>

      <h2>Reset</h2>
      <form action="/reset" method="post">
        <button type="submit">Reset</button>
      </form>

<%- include("partials/footer") -%>